{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}









{# ///////////////////////////// ↓↓ Barre de navigation ↓↓ ///////////////////////////////////////////#}

<p id="home"></p> {# Ancre pour le lien vers l'accueil #}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="/images/logo.jpeg" alt="Logo" width="35" height="35" {# Logo de l'entreprise#}
      class="d-inline-block align-text-top">
    <a class="navbar-brand" href="/">Décroche ton stage !<p class="fs-6 fw-light mb-0">Le bouche à oreille 2.0</p></a>
    {# Nom
    du site #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <a class="nav-link" href="/">Accueil</a> {# Redirige vers l'accueil #}
        <a class="nav-link" href="/#tuto">Comment ça marche ?</a> {# Redirige vers la section comment ça marche ? #}
        <a class="nav-link active" aria-current="page" href="/page1">Se lancer</a> {# Redirige vers la page de
        recherches d'entreprises#}
        <a class="nav-link" href="/dashboard">Dashboard Admin</a>
      </div>
    </div>
  </div>
</nav>



<br>
<br>
<br>
<br>












<div class="card bg-secondary-subtle shadow-lg p-3 mb-5 bg-body-tertiary rounded-1.25"
  style="max-width: 80rem; border-radius: 0.75rem;">
  <div class="row g-0">
    <div class="col-md-4">



      <label for="filiere" class="form-label">Recherchez l'entreprise de vos rêves</label>

      <input class="form-control" list="datalistOptions" id="filiere" placeholder="Saisissez votre filière" type="text"
        name="filiere">


      <button type="submit" value="rechercher" class="btn btn-primary">Rechercher</button>
      <button type="submit" value="ajouter_filtre" class="btn btn-secondary">Ajouter un filtre</button>

      <datalist id="datalistOptions">
        <option value="BTS SIO">
        <option value="BTS SAM">
        <option value="BTS GPME">
        <option value="LYCEE PRO">
      </datalist>
    </div>
  </div>
</div>





      {% endblock %}