{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <p id="home"></p>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="/images/logo.jpeg" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
            <a class="navbar-brand" href="/">Décroche ton stage !<p class="fs-6 fw-light mb-0">Le bouche à oreille 2.0</p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav w-100">
                    <a class="nav-link" href="/">Accueil</a>
                    <a class="nav-link" href="/#tuto">Comment ça marche ?</a>
                    <a class="nav-link" href="/page1">Se lancer</a>
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard Admin</a>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br><br>

<div class="card bg-secondary-subtle shadow-lg p-3 mb-5 bg-body-tertiary rounded-1.25"
  style="max-width: 80rem; border-radius: 0.75rem;">
  <div class="row g-0">
    <div class="col-md-4">
<form action="{{ path('app_login') }}" method="post">
  <div class="mb-3">
    <label for="username"class="form-label">Identifiant</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
    <br>
  {% if error %}
        <div style="color:red">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        <br>
    {% endif %}
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="password" name="_password" required>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
  </div>
</div>

{% endblock %}