{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}


{#
Préambule :

La partie Front End du site a été faite en utilisant la bibliothèque Bootstrap 5.3.
Voici la doc technique de Bootstrap -> https://getbootstrap.com/docs/5.3/getting-started/introduction/
#}





{# ///////////////////////////// ↓↓ Barre de navigation ↓↓ ///////////////////////////////////////////#}















<div class="card bg-secondary-subtle shadow-lg p-3 mb-5 bg-body-tertiary rounded-1.25"
  style="max-width: 80rem; border-radius: 0.75rem;">
  <div class="row g-0">
    <div class="col-md-4">



      <label for="filiere" class="form-label">Recherchez l'entreprise de vos rêves</label>

      <input class="form-control" list="datalistOptions" id="filiere" placeholder="Saisissez votre filière" type="text"
        name="filiere">


      <button type="submit" value="rechercher" class="btn btn-primary">Rechercher</button>
      <button type="submit" value="ajouter_filtre" class="btn btn-secondary">Ajouter un filtre</button>

      <datalist id="datalistOptions">
        <option value="BTS SIO">
        <option value="BTS SAM">
        <option value="BTS GPME">
        <option value="LYCEE PRO">
      </datalist>






      {% endblock %}