{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}


<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpeg" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
            Bonjour tout le monde
        </a>
    </div>
</nav>


<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label"></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Right-aligned menu example
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><button class="dropdown-item" type="button">Action</button></li>
        <li><button class="dropdown-item" type="button">Another action</button></li>
        <li><button class="dropdown-item" type="button">Something else here</button></li>
    </ul>
</div>


<div class="card bg-secondary-subtle shadow-lg p-3 mb-5 bg-body-tertiary rounded-1.25" style="max-width: 80rem; border-radius: 0.75rem;">
    <div class="row g-0">
        <div class="col-md-4">
            
            <img src="/images/logo.jpeg"
                class="img-thumbnail";
                 style="object-fit: cover;margin: 5px;border-radius: 25rem;border: 1px solid #000;"
                 alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Notre Dame de La Providence [Exemple]</h5>
                <p class="card-text">
                    Etablissement d'enseignement secondaire et supérieur privé.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <span class="badge text-bg-success">New</span>
            </div>
        </div>
    </div>
</div>



{% endblock %}