{% extends 'base.html.twig' %}

{% block title %}New Prof{% endblock %}

{% block body %}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="/images/logo.jpeg" alt="Logo" width="35" height="35" {# Logo de l'entreprise#}
      class="d-inline-block align-text-top">
      <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <a class="nav-link" href="/">Accueil</a> {# Redirige vers l'accueil #}
        <a class="nav-link" href="/dashboard">Dashboard</a> {# Redirige vers la section comment ça marche ? #}
        <a class="nav-link" href="/entreprise">Gestion Entreprises / Stages</a> {# Redirige vers la page de recherches d'entreprises#}
        <a class="nav-link active" aria-current="page" href="/prof">Gestion Roles</a>
      </div>
    </div>
  </div>
</nav>

<br>
<br>
<br>

    {{ include('prof/_form.html.twig') }}

    <a href="{{ path('app_prof_index') }}">back to list</a>
{% endblock %}
