{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}


<div class="row">



  <div class="col-md-6">


    <div class="card">


      <img src="{{ asset('images/entreprises_stages.svg') }}" class="card-img-top" alt="...">


      <div class="card-body">


        <h5 class="card-title">Gestion Entreprises / Stages</h5>


        <p class="card-text">Accès aux fonctionnalités de gestion des entreprises et des stages</p>


        <br>


        <a href="/entreprise" class="btn btn-primary">Y aller</a>


      </div>


    </div>


  </div>





  <div class="col-md-6">


    <div class="card">


      <img src="{{ asset('images/gestion_utilisateurs.svg') }}" class="card-img-top" alt="...">


      <div class="card-body">


        <h5 class="card-title">Gestion Roles</h5>


        <p class="card-text">Accès aux fonctionnalités de gestion des rôles, seulement pour les administrateurs</p>


        <a href="/user" class="btn btn-primary">Y aller</a>


      </div>


    </div>


  </div>


</div>






      {% endblock %}